---
import TestLayout from "../layouts/TestLayout.astro";
let pageTitle = "Client Script";
---

<TestLayout pageTitle={pageTitle}>
  <a href="/home">Home</a>
  <script is:inline type="module" src="/test.js"></script>
</TestLayout>
