---
import TestLayout from "../layouts/TestLayout.astro";
let pageTitle = "Client Script";
---

<TestLayout pageTitle={pageTitle}>
  <a href="/">Home</a>
  <script is:inline src="/test.js"></script>
</TestLayout>
