---
import TestLayout from "../layouts/TestLayout.astro";
let pageTitle = "Uncanny Inline Defer";
---

<TestLayout pageTitle={pageTitle}>
  <a href="/home">Home</a>
  <script is:inline defer src="/test.js"></script>
</TestLayout>
